.resume
  #academics
    h1 Academics
    #high_school
      ul Class of 2012:
        li Linworth Alternative Program
        li Worthington Kilbourne High School
  #personal_achievements
    h1 Personal Achievements
  #work_experience
    h1 Work Experience
  #contact
    h1 Contact
