body
  .resume
    #academics.one-word
      h1 Academics
    #personal_achievements.two-word
      h1 Personal Achievements
    #work_experience.two-word
      h1 Work Experience
    #contact.one-word
      h1 Contact
