body
  #resume
    .aspects.academics.one-word(data-target="academics")
      h1 Academics
    .aspects.personal_achievements.two-word(data-target="personal_achievements")
      h1 Personal Achievements
    .aspects.work_experience.two-word(data-target="work_experience")
      h1 Work Experience
    .aspects.contact.one-word(data-target="contact")
      h1 Contact
    .content.academics
      table
        tr
          td
            h2 The Numbers
            h4 SAT Reasoning Test
            ul
              li
                b Composite 2070
              li Reading 700
              li Math 740
              li Writing 630
            h4 SAT Subject Tests
            ul
              li Math (Level 2) 770
              li Physics 720
            h4 ACT
            ul
              li
                b Composite 31, 32
              li English 31, 32
              li Math 33, 34
              li Reading 28, 31
              li Science 30, 32
            h4 AP Classes/Score
            ul
              li Calculus AB/5
          td
            h2 College Credit
            h4 Project Lead The Way
            ul
              li Introduction to Engineering Design
              li Principles of Engineering
              li Digital Electronics
            h4 International Business Academy
            ul
              li Keyboarding
            h4 Post Secondary Education Option B
            ul
              li CSE 201: Elementary Computer Programming
              li Sociol 101: Introduction to Sociology
              li CSE 230: Introduction to C++
          td
            h2 Schools and Programs
            h4 High Schools
            ul
              li Linworth Alternative Program
              li International Business Academy
              li Worthington Kilbourne High School
            h4 Colleges and Universities
            ul
              li The Ohio State University
              li Sinclair Community College
              li Columbus State Community College

    .content.personal_achievements
      table
        tr
          td
            h2 Leadership Experience
            h4 Boy Scouts
            ul
              li Junior Assistant Scoutmaster Troop 243, since 2010
              li Senior Patrol Leader of 2010 Jamboree Troop 1411
              li Troop Instructor Troop 243, 2008-2010
              li Senior Patrol Leader Troop 243, 2007-2008
              li National Youth Leadership Training, June 2007
            h4 Order of the Arrow
            ul
              li Section Vice Chief of Section C4-B (over a 4-state section), since May 2011
              li Lodge Vice Chief (over a 2-state lodge), since October 2010
              li Chief of Local Chapter, 2010
          td
            h2 Extracurricular Activities
            h4 Sports
            ul
              li Football, Season of 2009
            h4 Boy Scouts
            ul
              li Joined Scouting in 2001 as a Cub Scout
              li Eagle Scout, since October 2nd, 2007
    .content.work_experience
      table
        tr
          td
            h4 2011
            ul Intern, 2Checkout.com
              li Supervisor: Anthony Santucci
              li From September to Present
            ul Apprentice, EdgeCase, LLC
              li Supervisors: Joe O'Brien and Dan Windle
              li From June to August
              li My duties included learning about the development process and consultant-client interaction, planning and promoting JRubyConf 2011, and recording my experience (in the form of a blog)
            ul Crew, Rotolo's Pizzeria, Inc
              li Supervisors: Gina Bianco and Bill Norz
              li From January to June
              li My duties included crafting pizzas, cleaning, and customer service
          td
            h4 2010
            ul Labor, AK Irrigation
              li Supervisor: Aaron Knepp
              li From June to August
              li My duties included assisting in installing new irrigation systems, maintaining existing systems, and maintaining the tools
            h4 2009
            ul Camp Staff (Field Sports-Rifle), Buckeye Council, BSA
              li Supervisor: Mike Devine
              li From June to August
              li My duties included assisting the Range Officer at the Rifle Range, cleaning and maintaining the rifles, and promoting morale among campers and staff
    .content.contact
      table
        tr
          td
            h2 Contact me by...
            h4 Internet
            ul
              li Email: 
                a(href='mailto:isaacbfsanders@gmail.com') isaacbfsanders@gmail.com
              li Twitter: 
                a(href='http://bit.ly/IsaacsTwitter')(target='_blank') @isaacsanders
              li LinkedIn: 
                a(href='http://linkd.in/q4pJyi')(target='_blank') Isaac Sanders at LinkedIn
              li Blog: 
                a(href='http://bit.ly/r7bZbB')(target='_blank') My Journey to Software Craftsmanship
              li Github: 
                a(href='http://github.com/isaacsanders')(target='_blank') Isaac Sanders on Github
            h4 Phone
            ul
              li
                a(href='tel:16148595219') 1-614-859-5219
          td
            h2 About Me
            ul
              p I am a senior at the Linworth Alternative Program of the Worthington Schools in Columbus, OH. I am a hard worker, voracious learner, and an feedback seeker.
              p This page is a simple Node.js/Express app hosted on Heroku. The source is available on my Github page. Please don't hesitate to ask any questions or give any feedback.

script(src="/javascripts/jquery-1.6.2.js")
script(src="/javascripts/application.js")
