.resume {
  font-family: "Arial";
  width: 250px;
  position: absolute;
  top: 50%;
  margin-left: 50px;
  margin-top: -200px; }
  .resume h1 {
    text-align: center;
    margin: 0; }
  .resume #academics {
    background-color: lime; }
  .resume #personal_achievements {
    background-color: red; }
  .resume #work_experience {
    background-color: blue; }
  .resume #contact {
    background-color: yellow; }
  .resume .one-word h1 {
    height: 100px;
    line-height: 100px; }
  .resume .two-word h1 {
    height: 100px;
    line-height: 50px; }

html {
  background: url(/images/portrait.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')"; }
