.resume
  font-family: "Arial"
  width: 250px
  position: absolute
  top: 50%
  margin:
    left: 50px
    top: -200px
  h1
    text-align: center
    margin: 0
  #academics
    background-color: #00ff00
  #personal_achievements
    background-color: #ff0000
  #work_experience
    background-color: #0000ff
  #contact
    background-color: #ffff00
  .one-word
    h1
      height: 100px
      line-height: 100px
  .two-word
    h1
      height: 100px
      line-height: 50px

html
  background: url(/images/portrait.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale')
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')"
