.resume {
  font-family: "Arial"; }
  .resume #academics h1 {
    background-color: lime; }
  .resume #personal_achievements h1 {
    background-color: red; }
  .resume #work_experience h1 {
    background-color: blue; }
  .resume #contact h1 {
    background-color: yellow; }
