.resume
  font-family: "Arial"
  #academics
    h1
      background-color: #00ff00
  #personal_achievements
    h1
      background-color: #ff0000
  #work_experience
    h1
      background-color: #0000ff
  #contact
    h1
      background-color: #ffff00
