#resume
  position: absolute
  top: 50%
  right: 0
  left: 0
  margin-top: -200px
  font-family: "Arial"

.aspects
  cursor: pointer
  margin-left: 50px
  width: 250px
  h1
    text-align: center
    margin: 0
    height: 100px
  &.one-word h1
    line-height: 100px
  &.two-word h1
    line-height: 50px

.content
  position: absolute
  top: 0
  right: 50px
  left: 300px
  height: 400px
  display: none
  overflow: auto
ul
  height: auto
  margin:
    top: 0px
  padding:
    left: 10px
    top: 0px
    bottom: 10px
    right: 10px
  list-style:
    type: square
    position: inside
  li
    padding:
      left: 10px

h4
  margin:
    top: 0px
    bottom: 0px

td
  height: auto
  padding:
    top    : 15px
    left   : 15px
    right  : 15px
    bottom : 15px

p
  width: 500px

.academics
  background-color: rgba(144,231,94, .4)
  &:hover
    background-color: rgba(144,231,94, 1)
.personal_achievements
  background-color: rgba(252,141,89, .4)
  &:hover
    background-color: rgba(252,141,89, 1)
.work_experience
  background-color: rgba(109,186,225, .4)
  &:hover
    background-color: rgba(109,186,225, 1)
.contact
  background-color: rgba(229,213,100, .4)
  &:hover
    background-color: rgba(229,213,100, 1)

html
  background: url(/images/portrait.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/portrait.jpg', sizingMethod='scale')
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/portrait.jpg', sizingMethod='scale')"
